*{
margin: 0;
padding: 0;
}
.nav-info{
    list-style: none;
    display: flex;
    gap: 25px;
    font-size: small;
    font-weight: bolder;
}
.navbar{
display: flex;
align-items: center;
justify-content: space-between;
padding: 15px 45px;
}
.nav-info li a{
    text-decoration: none;
    color:#000000
}
/* button */
.nav-btn{
text-decoration: none;
background-color: #256f46;
color: aliceblue;
border-radius: 4px;
border: none;
padding: 5px 3px;
cursor: pointer;
font-weight: 600;
}

.badge{
    display: inline-block;
    padding: 3px 10px;
    border: 1px solid #ffffff;
    border-radius: 999px;
    font-size: 14px;
    color: #256f46;
    background-color: #e0e0e0;
    margin-bottom: 16px;
}
/* banner section*/

#banner p{
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #e0e0e0;
}
#banner h1 span{
    color: #3cb371;
}
#banner h1{
    font-size: 52px;
    line-height: 1.2;
    margin-bottom: 20px;
    color: #ffffff;
}
.hero-button{
    display: flex;
    gap: 15px;
    justify-content: center;
}
.nav-btn{
    text-decoration: none;
    padding: 12px 22px;
    border-radius: 6px;
    font-weight: 600;
}
.btn-outline{
    border: 1px solid #e0e0e0;
    color: #ffffff;
    text-decoration: none;
    
}
#banner{
    min-height: 100vh;
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;

}


